<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Keras InceptionV3 Image Recognition</title>   
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/realtimestyletrans.appspot.com/css/base.css">
        <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
        <script type="text/javascript" src= "assets/js/firebase.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-picture"></span> Keras InceptionV3 Image Recognition</a>
            </div>
          
            <div class="collapse navbar-collapse" id="bs-nav-demo">
              <ul class="nav navbar-nav">
                <li><a href="/"><span class="fa fa-home fa-fw"></span> Home</a></li>
                <li><a href="https://github.com/Liuqian0501/keras-flask-gunicorn-docker-web"><span class="fa fa-github fa-fw"></span> Github</a></li>
                <li><a href="https://www.linkedin.com/in/qian-liu/"><span class="fa fa-linkedin-square fa-fw"></span> Linkdin</a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li><a href="http://www.qianliukevin.com/"> <span class="fa fa-home fa-fw"></span> My personal website</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <div class="container">
          <div class="jumbotron jumbotron-fluid">
            <h2><i class="fa fa-camera-retro"></i> Keras InceptionV3 Image Recognition</h2>
            <p>Image recognition with Keras, Tensorflow, and InceptionV3. Keras Applications are deep learning models that are made available alongside pre-trained weights. These models can be used for prediction, feature extraction, and fine-tuning.
            </p> 
        </div>
              

        <div class="container">
          {% block content %}
          {% endblock %}
        </div>

        <hr class="separator">
        <div class="container">
          <div class="jumbotron jumbotron-fluid">
          <h2>Recent result</h2>
          {% if recent_results %}
            {% for result in recent_results %}
            <div class='media'> 
              <div class='row'>
                <div class="col-md-4 col-md-offset-3 col-xs-6">
                  <a href="#">
                    {% if result.image_url %}
                      <img class="image-object img-responsive" src="{{result.image_url}}">
                    {% endif %}
                  </a>
                </div>
                <div class="col-md-5 col-xs-6">
                  {% for prediction in result.predictions.predictions %}
                    {{prediction.description}} <b>{{'%0.2f' % prediction.probability}}%</b><br/>
                  {% endfor %}
                  <h5>{{result.create_date}}</h5>
                </div>
              </div>   
            </div> 
            {% endfor %}
          {% endif %}
        </div>
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
