{% extends "base.html" %}

{% block content %}

<div class="media alert alert-info">
<div class="row col-md-offset-3">
  <div class="col-md-4 col-xs-6">
    {% if image_url %}
      <img class="book-image" src="{{image_url}}" style="max-width:50%; height:auto">
    {% else %}
      <img class="book-image" src="http://placekitten.com/g/128/192">
    {% endif %}
  </div>
  <div class="col-md-5 col-xs-6">
    {% if predictions %}
      <ul class="list-unstyled">
      {% for prediction in predictions %}
        <li>{{prediction.description}} <b>{{prediction.probability}}%</b></li>
      {% endfor %}
      </ul>
    {% else %}
      <div>Unknown</div>
    {% endif %}
  </div>
</div>
</div>
{% endblock %}
