body { padding-top: 70px; }

.jumbotron {
  color: #2c3e50;
  background: #ecf0f1;
  height: 40px

}
.navbar-inverse {
  background: #2c3e50;
  color: white;
}
.navbar-inverse .navbar-brand, .navbar-inverse a{
  color:white;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
} 
.radio-thumbnail > input {
  display: none;
}

.radio-thumbnail > :checked + .thumbnail {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.radio-thumbnail > :disabled + .thumbnail {
  opacity: .5;
}
